{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Meetzy",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "Private"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://ai.meetzy.io"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/call": {
      "post": {
        "description": "API that start a call using a pre-trained playbook.",
        "requestBody": {
          "description": "Params to execute the call",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Call"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Call response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/POST_CallResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/call/{callId}": {
      "get":{
        "description": "Returns data about a specific call.",
        "responses": {
          "200": {
            "description": "Call response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET_CallResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/calls": {
      "get":{
        "description": "API that get the list of calls made by users.",
        "responses": {
          "200": {
            "description": "Call response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET_CallsResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      
      }
    }
    
  },
  "components": {
    "schemas": {
      "Call": {
        "required": [
          "phone",
          "playbook_id"
          
        ],
        "type": "object",
        "properties": {
          "phone": {
            "description": "The phone to call with country prefix (e.g. +34600000000).",
            "type": "string"
          },
          "playbook_id": {
            "description": "The id of the playbook you want to use to make the call. You can get the list of playbooks using your dashboard (/playbook endpoint will be available soon).",
            "type": "string"
          },
          "voice_id": {
            "description": "The number of the voice to use (values: 1, 2, 3, 4, 5, 6, 7) - Default 6.",
            "type": "string"
          },
          "voice_model": {
            "description": "Choose from our speech models: - 'fast' (less latency, nice voices) or 'human' (our natural sounding voices - (beta)) - Default model: 'human'",
            "type": "string"
          },
          "language": {
            "description": "The language used by Meetzy during the call (values: ES, EN, FR, DE, IT, PT, ...) - Default ES.",
            "type": "string"
          },
          "interrupt":{
            "description": "If the user can interrupt to the IA during the call - Default false.",
            "type": "boolean"
          },
          "<custom_param_1>": {
            "description": "A custom param like email, firstname, lastname, email, program_of_insterest, etc. Meetzy will use this param to personalize the call.",
            "type": "string"
          },
          "<custom_param_2>": {
            "description": "A custom param like email, firstname, lastname, email, program_of_insterest, etc. Meetzy will use this param to personalize the call.",
            "type": "string"
          },
          "<custom_param_N>": {
            "description": "You can add as many custom params as you want. Meetzy will use this param to personalize the call.",
            "type": "string"
          }
        }
      },
      "POST_CallResponse": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The id of a the call",
            "type": "string"
          },
          "success": {
            "description": "If the call started successfully or not",
            "type": "boolean"
          },
          "message": {
            "description": "The message explaining the result of the call initiation",
            "type": "string"
          }
        }
      },
      "GET_CallsResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "description": "The id of the call",
              "type": "string"
            },
            "phone": {
              "description": "The phone to call with country prefix (e.g. +34600000000).",
              "type": "string"
            },
            "email": {
              "description": "The email of the lead.",
              "type": "string"
            },
            "firstname": {
              "description": "The firstname of the lead.",
              "type": "string"
            },
            "lastname": {
              "description": "The lastname of the lead.",
              "type": "string"
            },
            "playbook_id": {
              "description": "The id of the playbook you want to use to make the call. You can get the list of playbooks using your dashboard (/playbook endpoint will be available soon).",
              "type": "string"
            },
            "voice_id": {
              "description": "The number of the voice to use (values: 1, 2, 3, 4, 5, random) - Default 3.",
              "type": "string"
            },
            "language": {
              "description": "The language used by Meetzy during the call (values: ES, EN, FR, DE, IT, PT, ...) - Default ES.",
              "type": "string"
            },
            "duration": {
              "description": "The duration of the call in seconds.",
              "type": "integer"
            },
            "status": {
              "description": "The status of the call (values: queued, ringing, completed, failed, routed).",
              "type": "string"
            },
            "summary": {
              "description": "The summary of the call.",
              "type": "string"
            },
            "transcription:": {
              "description": "The transcription of the call.",
              "type": "string"
            },
            "sentiment:": {
              "description": "The sentiment of the call (values: positive, neutral, negative, frustrated, angry, happy, sad, etc.",
              "type": "string"
            },
            "recorded:": {
              "description": "If the call was recorded or not.",
              "type": "boolean"
            },
            "record_url:": {
              "description": "The url of the recorded call.",
              "type": "string"
            },
            "created_at": {
              "description": "The date and time when the call was created.",
              "type": "string"
            },
            "<custom_param_1>": {
              "description": "A custom param you created when you created the call (like UTM, postal_code, program_of_insterest, etc.)",
              "type": "string"
            },
            "<custom_param_2>": {
              "description": "A custom param you created when you created the call (like UTM, postal_code, program_of_insterest, etc.)",
              "type": "string"
            },
            "<custom_param_N>": {
              "description": "You can add as many custom params as you want.",
              "type": "string"
            }
          }
        }
      },
      "GET_CallResponse":{
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of the call.",
            "type": "string"
          },
          "playbook_name": {
            "description": "Name of the playbook used during the call.",
            "type": "string"
          },
          "playbook_id": {
            "description": "Unique identifier of the playbook used during the call.",
            "type": "string"
          },
          "from": {
            "description": "Phone number that **initiated** the call.",
            "type": "string"
          },
          "to": {
            "description": "Phone number that **received** the call.",
            "type": "string"
          },
          "status": {
            "description": "Current status of the call, possible values include: 'ringing', 'open', 'closed', 'no-answer', 'voicemail', 'busy', 'recall-scheduled', 'wrong-phone-format'.",
            "type": "string"
          },
          "duration": {
            "description": "Duration of the call in seconds.",
            "type": "integer"
          },
          "transcript": {
            "description": "Full transcription of the call in HTML format.",
            "type": "string"  
          },
          "summary": {
            "description": "Brief summary of the conversation during the call.",
            "type": "string" 
          },
          "data": {
            "description": "Parameters received to initiate the call.",
            "type": "string"
          },
          "success": {
            "description": "Indicates whether the objectives defined in the playbook were met.",
            "type": "boolean"
          },
          "recording": {
            "description": "Indicates whether the call was recorded.",
            "type": "boolean"
          },
          "created_time": {
            "description": "Timestamp for when the call was initiated, formatted as YYYY-MM-DD HH:MM:SS in UTC (Z). For example, a created_time of '2024-01-28 16:16:56' corresponds to '2024-01-28 18:16:56' in Spain (UTC +2).",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "description": "If the call started successfully or not",
            "type": "boolean"
          },
          "message": {
            "description": "The message explaining why the call initiation failed",
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}