{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Meetzy",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "Private"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://ai.meetzy.io"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/call": {
      "post": {
        "description": "API that start a call using a pre-trained playbook.",
        "requestBody": {
          "description": "Params to execute the call",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Call"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Call response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/calls": {
      "get":{
        "description": "API that get the list of calls made by users.",
        "responses": {
          "200": {
            "description": "Call response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallListResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      
      }
    }
  },
  "components": {
    "schemas": {
      "Call": {
        "required": [
          "phone",
          "playbook_id"
          
        ],
        "type": "object",
        "properties": {
          "phone": {
            "description": "The phone to call with country prefix (e.g. +34600000000).",
            "type": "string"
          },
          "playbook_id": {
            "description": "The id of the playbook you want to use to make the call. You can get the list of playbooks using your dashboard (/playbook endpoint will be available soon).",
            "type": "string"
          },
          "voice_id": {
            "description": "The number of the voice to use (values: 1, 2, 3, 4, 5, random) - Default 3.",
            "type": "string"
          },
          "language": {
            "description": "The language used by Meetzy during the call (values: ES, EN, FR, DE, IT, PT, ...) - Default ES.",
            "type": "string"
          },
          "email": {
            "description": "The email of the lead. Meetzy will use this param to personalize the call.",
            "type": "string"
          },
          "<custom_param_1>": {
            "description": "A custom param like firstname, lastname, email, program_of_insterest, etc. Meetzy will use this param to personalize the call.",
            "type": "string"
          },
          "<custom_param_2>": {
            "description": "A custom param like firstname, lastname, email, program_of_insterest, etc. Meetzy will use this param to personalize the call.",
            "type": "string"
          },
          "<custom_param_N>": {
            "description": "You can add as many custom params as you want. Meetzy will use this param to personalize the call.",
            "type": "string"
          }
        }
      },
      "CallResponse": {
        "type": "object",
        "properties": {
          "success": {
            "description": "If the call started successfully or not",
            "type": "boolean"
          },
          "message": {
            "description": "The message explaining the result of the call initiation",
            "type": "string"
          }
        }
      },
      "CallListResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "description": "The id of the call",
              "type": "string"
            },
            "phone": {
              "description": "The phone to call with country prefix (e.g. +34600000000).",
              "type": "string"
            },
            "email": {
              "description": "The email of the lead.",
              "type": "string"
            },
            "firstname": {
              "description": "The firstname of the lead.",
              "type": "string"
            },
            "lastname": {
              "description": "The lastname of the lead.",
              "type": "string"
            },
            "playbook_id": {
              "description": "The id of the playbook you want to use to make the call. You can get the list of playbooks using your dashboard (/playbook endpoint will be available soon).",
              "type": "string"
            },
            "voice_id": {
              "description": "The number of the voice to use (values: 1, 2, 3, 4, 5, random) - Default 3.",
              "type": "string"
            },
            "language": {
              "description": "The language used by Meetzy during the call (values: ES, EN, FR, DE, IT, PT, ...) - Default ES.",
              "type": "string"
            },
            "duration": {
              "description": "The duration of the call in seconds.",
              "type": "integer"
            },
            "status": {
              "description": "The status of the call (values: queued, ringing, completed, failed, routed).",
              "type": "string"
            },
            "summary": {
              "description": "The summary of the call.",
              "type": "string"
            },
            "transcription:": {
              "description": "The transcription of the call.",
              "type": "string"
            },
            "sentiment:": {
              "description": "The sentiment of the call (values: positive, neutral, negative, frustrated, angry, happy, sad, etc.",
              "type": "string"
            },
            "recorded:": {
              "description": "If the call was recorded or not.",
              "type": "boolean"
            },
            "record_url:": {
              "description": "The url of the recorded call.",
              "type": "string"
            },
            "created_at": {
              "description": "The date and time when the call was created.",
              "type": "string"
            },
            "<custom_param_1>": {
              "description": "A custom param you created when you created the call (like UTM, postal_code, program_of_insterest, etc.)",
              "type": "string"
            },
            "<custom_param_2>": {
              "description": "A custom param you created when you created the call (like UTM, postal_code, program_of_insterest, etc.)",
              "type": "string"
            },
            "<custom_param_N>": {
              "description": "You can add as many custom params as you want.",
              "type": "string"
            }
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "description": "If the call started successfully or not",
            "type": "boolean"
          },
          "message": {
            "description": "The message explaining why the call initiation failed",
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}